{% load static %}
    <!-- footer section  -->
    <footer class="container-fluid pb-5">
        <div class="container footersection">
            <div class="">
                <h4>SOCIALS</h4>
                <ul class=" text-white pl-5">
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-snapchat"></i></li>
                </ul>
            </div>
            <div class="">
                <h4>SUPPORT</h4>
                <p><a href="">Get Help</a></p>
                <p><a href="">Contact Us</a></p>
                <p><a href="">Foodie Feedback</a></p>
            </div>
            <div class="">
                <h4>LEGAL</h4>
                <p><a href="">Terms and Conditions</a></p>
                <p><a href="">Privacy Policy</a></p>
                <p><a href="">Disclaimer</a></p>
                <p><a href="">Caution Notice</a></p>
            </div>
            <div class="app">
                <h4>APPS</h4>
                <div class="app_wrapper">
                <div><img src="{% static '' %}img/app-store.png" alt=""></div>
                <div><img src="{% static '' %}img/play-store.png" alt=""></div>

                
            </div>
        </div>
    </footer>
    <!-- footer section done -->